.app_header-h1{
    color: var(--color-white);
    font-family: var(--font-base);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 90px;
}

.app_header{
    background-color: grey;
}
.app__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
  }

  .app__wrapper_info {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .section__padding {
    padding: 4rem 6rem;
  }
  

  .custom__button {
    background-color: goldenrod;
      color: var(black);
      font-family: Monaco;
      font-weight: 700;
      letter-spacing: 0.04em;
      line-height: 28px;
      font-size: 16px;
      padding: 0.5rem 1.5rem;
      border-radius: 1px;
      border: none;
      outline: none;
      cursor: pointer;
  }


.app_wrapper_img{
    width: 10%;
}


.app__header-img img{
width: 50%;
}